::deep .weekly-day-picker {
    background-color: transparent !important;
    background: transparent !important;
}
.reservation-panel-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.my-reservation {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
.calender {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 30px;
}
.weekly-no-bg ::deep .weekly-day-picker {
    background: unset !important;
}


.reservation-panel-buttons {
    display:none;
}
.reservation-button {
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.reservation-button-title {
    text-align: center;
    color: #4d4d4d;
    font-size: 12px;
    font-weight: bold;
}
.active-reservation-button-title {
    text-align: center;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

@media (max-width: 600px) {
    
    .reservation-panel-header {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 8px;
    }
    .my-reservation {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    
    .reservation-panel-buttons {
        width: 90vw;
        margin-left: 20px;
        margin-top: 45px;
        display: flex;
        justify-content: center;
    }
    .reservation-button {
        display: flex;
        align-items: center;
        margin-left: 8px;
    }
    .reservation-button-title {
        text-align: center;
        color: #4d4d4d;
        font-size: 12px;
        font-weight: bold;
    }
    .active-reservation-button-title {
        text-align: center;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }
    }