.container {
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
}

.admin-button-title {
    margin-left: 5px;
    margin-right: 2px;
    color: #4d4d4d;
    font-size: 12px;
}

.active-admin-button-title {
    margin-left: 5px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.admin-panel-buttons {
    margin-left: 20px;
    margin-top: 20px;
}

.admin-panel {
    width: 15vw;
    height: 100vh;
    background-color: #e6e6e6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
}

.button {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.count-panel {
    box-shadow: 5px 5px 10px rgba(87, 87, 87, 0.1);
    border-radius: 10px;
    border-color: #d2d2d2;
    border: 1.2px solid #e2dfdf;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.count-panel-title {
    font-size: 16px;
    color: black;
    padding: 10px;
    font-weight: 500;
    align-self: flex-start;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
}

.count-panel-value {
    font-size: 32px;
    font-weight: bold;
    color: #0095ff;
    padding: 10px;
    align-self: flex-end;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

.last-reservation-panel {
    background-color: #e6e6e6;
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgba(87, 87, 87, 0.1);
    border-radius: 10px;
    border-color: #d2d2d2;
    border: 1.2px solid #e2dfdf;
    padding: 15px;
    height: 60vh;
}

.last-reservation-panel-header {
    font-size: 25px;
    font-weight: bold;
}

.table-responsive {
    margin-bottom: 20px;
    height: auto;
}

.table {
    display: table;
    table-layout: fixed;
    font-size: 15px;
    font-weight: bold;
    width: 74vw;
    height: 10vh;
}

.table-header {
    display: table;
    table-layout: fixed;
    font-size: 15px;
    font-weight: bold;
    width: 74vw;
    height: 10vh;
}

.table-contents-panel {
    overflow-y: auto;
    font-size: 12px;
    width: 100%;
    height: 250px;
    text-align: center;
    vertical-align: middle;
}

.table-contents {
    overflow-y: auto;
    display: table;
    table-layout: fixed;
    font-size: 12px;
    width: 100%;
    height: 250px;
    text-align: center;
    vertical-align: middle;
    gap: 10px;
    border-collapse: separate;
    border-spacing: 0 12px;
}

.dashboard-panel {
    width: 100%;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        width: auto;
        flex-direction: column;
        margin: 0px;
    }

    .admin-panel {
        background-color: unset;
        box-shadow: unset;
        padding: 0;
        margin: 0;
    }

    .admin-button-title {
        margin-left: 5px;
        margin-right: 2px;
        color: #4d4d4d;
        font-size: 12px;
    }

    .active-admin-button-title {
        margin-left: 5px;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

    .admin-panel-buttons {
        position: static;
        margin: 0 0 10px 0;
        margin-top: 20px;
        flex-direction: row;
        height: auto;
        width: 96vw;
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    .count-panel-title {
        font-size: 14px;
        font-weight: 500;
        color: black;
        padding: 10px;
        align-self: center;
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
    }

    .count-panel-value {
        font-size: 32px;
        font-weight: 500;
        color: #0095ff;
        padding-top: 0px;
        padding: 0px;
        align-self: center;
        text-align: center;
    }


    .table {
        height: auto;
        font-size: 13px;
    }

    .table-header {
        width: 200vw;
        max-width: 200vw;
        height: auto;
        font-size: 13px;
    }

    .last-reservation-panel-header {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .last-reservation-panel {
        width: 95vw;
        max-width: 95vw;
        height: auto;
        padding: 5vw 2vw;
        box-sizing: border-box;
        box-shadow: 5px 5px 10px rgba(87, 87, 87, 0.1);
        background-color: unset;
    }
}
