.containerW {
    background: #fff;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    width: 100%;
}
.containerH {
    background: #fff;
    display: flex;
    flex-direction:column;
    padding: 0;
    margin: 30px;
}
.admin-button-title {
    margin-left: 5px;
    margin-right: 2px;
    color: #4d4d4d;
    font-size: 12px;
}
.active-admin-button-title {
    margin-left: 8px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.admin-panel {
    width: 15vw;
    height: auto;
    background-color: #e6e6e6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-panel-buttons {
    position: fixed;
    margin-left: 20px;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.button {
    display: flex;
    align-items: center;
    margin-left: 8px;
}


.date-newreservation-panel {
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}
.calender{
    display:flex;
    align-items:flex-start;
}
.new-reservation{
    display:flex;
    
}


.halls-panel {
    width: 80vw;
    height: 100%;
    background-color: #e6e6e6;
    border-radius:20px;
    padding: 25px;
    margin-top: 25px;
}
.halls {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgba(87, 87, 87, 0.1);
    border-radius: 10px;
    border-color: #d2d2d2;
    border: 1.2px solid #e2dfdf;
    padding: 25px;
    height: auto;
}
.halls-header {
    text-align:center;
    font-size:19px;
    font-weight:bold;
}
.halls-edit {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 600px) {
    
    .containerW {
        background: #fff;
        display: flex;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .containerH {
        background: #fff;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 10px;
    }

    .date-newreservation-panel {
        background: #fff;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }

    .admin-panel {
        display: none;
    }

    .admin-button-title {
        margin-left: 5px;
        color: #4d4d4d;
        font-size: 12px;
    }

    .active-admin-button-title {
        margin-left: 5px;
        color: white;
        font-size: 13px;
        font-weight: bold;
    }

    .admin-panel-buttons {
        position: static;
        margin: 0 0 10px 0;
        margin-top: 20px;
        flex-direction: row;
        height: auto;
        width: 98vw;
        justify-content: flex-start;
        align-items: center;
    }

    .halls-panel {
        width: 100%;
        height: 100%;
        background-color: #e6e6e6;
        border-radius: 20px;
        padding: 1px;
        margin-top: 25px;
    }

    .halls {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background-color: white;
        box-shadow: 5px 5px 10px rgba(87, 87, 87, 0.1);
        border-radius: 10px;
        border-color: #d2d2d2;
        border: 1.2px solid #e2dfdf;
        width: 95%;
        height: auto;
        padding: 15px;
        margin-top: 30px;
        margin:10px;
        
        min-height:35vh;
    }

    .halls-header {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background-color: white;
        box-shadow: 5px 5px 10px rgba(87, 87, 87, 0.1);
        border-radius: 10px;
        border-color: #d2d2d2;
        border: 1.2px solid #e2dfdf;
        width: 95%;
        margin: 10px;
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        min-height: 10vh;
    }

    .halls-edit {
        display: flex;
        justify-content: flex-end;
    }


    .date-newreservation-panel {
        background: #fff;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
    }

    .calender {
        display: flex;
        justify-content: center;
        margin-bottom:20px;
    }
    .new-reservation {
        display: flex;
        justify-content: center;
        width:88vw;
    }
}
