.admin-panel-buttons {
    margin-left: 20px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .admin-panel-buttons {
        position: static;
        margin: 0 0 10px 0;
        margin-top: 20px;
        flex-direction: row;
        height: auto;
        width: 96vw;
        justify-content: space-around;
        align-items: center;
        display: flex;
    }
}
