@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthProvider



<AntDesign.AntContainer/>

<Layout Style="min-height: 100vh; background-color: white;">
    <Header Style="background: #0095ff; padding: 0 24px; display: flex; align-items: center; justify-content: space-between;">
        <div class="logo" style="font-size: 18px; font-weight: bold; color: white;">
            <Icon Type="home" Theme="IconThemeType.Outline"/>
            Toplantı Odası Rezervasyon
        </div>
        <Menu Mode="MenuMode.Horizontal" style="background-color: unset;">
            <MenuItem Key="1" RouterLink="/" RouterMatch="NavLinkMatch.All" style="color: white!important;">
                <div class="panel-transparent">
                    <Icon Type="home" Theme="IconThemeType.Outline"/>
                    Ana Sayfa
                </div>
            </MenuItem>
            <MenuItem Key="2" RouterLink="/register">
                <div class="panel-transparent">
                    <Icon Type="user-add" Theme="IconThemeType.Outline"/>
                    Kayıt Ol
                </div>
            </MenuItem>
            <MenuItem Key="3" RouterLink="/login">
                <div class="panel-transparent">
                    <Icon Type="login" Theme="IconThemeType.Outline"/>
                    Giriş Yap
                </div>
            </MenuItem>
            <AuthorizeView>
                <Authorized>
                    <div class="panel-transparent">
                        <Icon Type="login" Theme="IconThemeType.Outline" OnClick="Logout"/>
                        Çıkış Yap
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>
                    <p>Hoş geldin, @userEmail</p>
                </Authorized>
            </AuthorizeView>
        </Menu>
    </Header>
    <Content>
        <div>
            @Body
        </div>
    </Content>
    <Footer Style="text-align: center;">
        Toplantı Odası Rezervasyon Sistemi ©@DateTime.Now.Year
    </Footer>
</Layout>


@code {

    private void Logout()
    {
        if (AuthProvider is CustomAuthenticationStateProvider customAuth)
        {
            customAuth.MarkUserAsLoggedOut();
            Navigation.NavigateTo("/login", forceLoad: true);
        }
    }

    private string userEmail = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            userEmail = user.Identity.Name!;
        }
    }

}
